@charset "UTF-8";


@mixin sp_pd {
	padding-left: 4vw;
	padding-right: 4vw;
}

@mixin pc_pd {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.outer {

	@include mq(s) {
		@include sp_pd;
	}

	@include mq(m) {
		max-width: 960px;
		margin-right: auto;
		margin-left: auto;
		box-sizing: border-box;

		& > .inner {
			@include pc_pd;
		}

	}

	@include mq(l) {
		max-width: 1500px;
	}

}

@include mq(s) {
	body.two .parent,
	body.article .parent {
		& > *:last-child {
			margin-top: margin(sp_y, 2l);
		}
	}
}

@include mq(m) {

	body.two .parent {
		& > *:last-child {
			margin-top: margin(pc_y, 2l);
		}
	}

	body.article .parent {

		display: flex;

		& > * {
			padding-left: 2.5%;
			padding-right: 2.5%;
		}

		& > *:first-child {
			flex-grow: 1;
			width: 70%;
		}

		& > *:last-child {
			margin-top: 0;
			width: 30%;
		}

	}

}

@include mq(2l) {

	body.article .parent,
	body.two .parent {

		display: flex;

		& > * {
			padding-left: 2.5%;
			padding-right: 2.5%;
		}

		& > *:first-child {
			flex-grow: 1;
			width: 70%;
		}

		& > *:last-child {
			margin-top: 0;
			width: 30%;
		}

	}

}

/*---------------------------------------------------------

	header

---------------------------------------------------------*/

#mainHeader {

	height: 80px;
	margin-bottom: margin(sp_y,s);
	position: relative;
	background: color(blue1);

	#logo {
		display: table;
		width: 32vw;
		height: 80px;
		a {
			display: table-cell;
			vertical-align: middle;
		}
	}

	@include mq(m) {
		height: 90px;
		#logo {
			width: 123px;
		}
	}

}

#un {

	position: absolute;
	top: 0;
	right: 6vw;

	text-align: right;

	li {
		display: inline-block;
		margin-left: 10px;
		padding-top: 10px;
	}

	li.blog {
		width: 36px;
	}

	li.bm {
		width: 27px;
	}

	a {
		display: block;
		height: 60px;
		line-height: 60px;
		color: hsl(0, 0, 40%);
		text-decoration: none;
		img {
			vertical-align: middle;
		}
	}

	.bm a {
		position: relative;
		span {
			position: absolute;
			top: 0em;
			right: -0.5em;
			display: inline-block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			border-radius: 50%;
			z-index: 100;
			background: red;
			color: #fff;
			font-size: 12px;
			letter-spacing: 0;
			text-align: center;
		}
	}

	@include mq(m) {

		li {
			margin-left: 15px;
			padding-top: 15px;
		}

	}

}

#h1_n_pz {
	
	display: flex;
	flex-direction: column;
	
	h1 {
		order: 1;
	}
	
}

#pz {

	margin-bottom: margin(sp_y,m);	
	font-size: font(s);
	padding: 0 4vw;
	overflow: hidden;

	li {
		display: inline;
		position: relative;
		color: color(brown1);
	}

	li:first-child span {
		margin-left: 0.2em;
	}

	li:nth-of-type(n+2):before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border: solid 4px transparent;
		border-left: solid 6px color(brown1);
		position: relative;
		top: -0.1em;
		margin-left: 0.5em;
		margin-right: 0.4em;
	}

	a {
		text-decoration: none;
		color: color(brown1);
	}

	@include mq(m) {
		margin-bottom: margin(pc_y,m);	
		padding: 0;
	}

}

#pz + figure {
	@include mq(m) {
		margin-top: margin(pc_y, m);
	}
}



/*
#gn {

	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 80px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.95);
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: 1s;

	ul {
		border-top: solid 1px color(border);
	}

	a {
		text-decoration: none;
		color: color(text);
		display: block;
		padding-left: 4vw;
		height: 80px;
		line-height: 80px;
		border-bottom: solid 1px color(border);
		box-sizing: border-box;
		position: relative;
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 50%;
			right: 10px;
			transform-origin: right top;
			transform: rotate(45deg);
			width: 15px;
			height: 1px;
			background-color: color(border);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}

	@include mq(m) {

		ul {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}

		a {
			padding-left: 0;
		}

	}

}

#gn.on {

	z-index: 100;
	opacity: 1;

}

#mainHeader .hb {

	position: absolute;
	top: 4vw;
	right: 4vw;
	width: 50px;
	height: 50px;
	z-index: 101;

	@include mq(m) {
		top: 15px;
		right: 2.5%;
		width: 60px;
	}

	button {
		outline: none;
		background: none;
		border: none;
	}

	&:before,
	&:after {
		content: "";
		width: 70%;
		box-sizing: border-box;
		height: 7px;
		background: color(blue);
		position: absolute;
		top: 50%;
		left: 15%;
		margin-top: -12px;
		transition: 0.3s;
	}

	&:after {
		margin-top: 6px;
	}

	@include mq(m) {
		&:before,
		&:after {
			width: 40px;
			left: 10px;
			margin-top: -12px;
		}

		&:after {
			margin-top: 6px;
		}

	}
}

#mainHeader .hb.on {

	&:before,
	&:after {
		transform: rotate(45deg);
		margin-top: -3px;
	}

	&:after {
		transform: rotate(-45deg);
	}

}

#mainHeader .bm {

	position: absolute;
	top: calc(4vw + 7px);
	right: calc(4vw + 50px);
	width: 50px;
	height: 50px;
	z-index: 101;

	a {
		font-size: 32px;
	}

	@include mq(m) {
		width: 44px;
		right: 2.5%;
		margin-right: 75px;
		height: 40px;
		top: 22px;
		a {
			font-size: 36px;
		}
	}

}

*/

/*---------------------------------------------------------

	section

---------------------------------------------------------*/

main * + section {
	margin-top: margin(text,3l);
}

main section * + section {
	margin-top: margin(text,2l);
}

@include mq(s) {

	body > *:nth-child(n+3),
	body > *:nth-child(n+3) > .inner > * + section {
		margin-top: margin(sp_y, 3l);
	}


}

@include mq(m) {

	body > *:nth-child(n+3) {
		margin-top: margin(pc_y, 2l);
	}


}

main * + p {
	margin-top: 1em;
}



/*---------------------------------------------------------

	twitteritter & ranking

---------------------------------------------------------*/

@include mq(s) {

	section.twitter {

		background: color(blue3);
		padding-top: margin(sp_y, m);
		padding-bottom: margin(sp_y, m);

		h2 {
			@include pd;
		}

	}

	div#twitter_n_ranking > section:nth-of-type(n+2) {
		margin-top: margin(sp_y, 2l);
	}

}

@include mq(m) {

	div#twitter_n_ranking {

		background: color(blue3);
		padding-top: margin(pc_y, l);
		padding-bottom: margin(pc_y, l);

		display: flex;

		& > * {
			padding-left: 2.5%;
			padding-right: 2.5%;
			box-sizing: border-box;
		}

		section.twitter {
			width: 60%;
		}

		section.ranking {
			width: 40%;
		}
	}
}


@include mq(2l) {

	body.two div#twitter_n_ranking {

		flex-direction: column;

		& > * {
			padding-left: 0;
			padding-right: 0;
		}

		& > *:nth-child(n+2) {
			margin-top: margin(pc_y, 2l);
		}

		section.twitter,
		section.ranking {
			width: 100%;
		}
	}
}

footer#main_footer {
	background: color(blue2);
	color: #fff;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

@include mq(m) {
	div#twitter_n_ranking + footer {
		margin-top: 0;
	}
}
