@charset "UTF-8";

@include mq(s) {
	.sp_n {
		display: none !important;
	}
	.full {
		@include full;
	}

	.pd {
		@include pd;
	}

}

@include mq(m) {
	.pc_n {
		display: none !important;
	}
	a[href^="tel"] {
		cursor: default;
	}
	main {
		display: block;
	}
}

body {
	color: color(text);
	background: #fff;
	font-size: font(m);
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", HelveticaNeue, "Segoe UI", "游ゴシック体", YuGothic, "Yu Gothic M", "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.6;
	letter-spacing: 0.1em;
	word-wrap: break-word;
}

img {
	max-width: 100%;
	height: auto;
}

img.bd {
	border: solid 1px color(gray3);
	box-sizing: border-box;
}

a {
	color: #006299;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

select,
input {
	font-size: font(m);
}

p {
	text-align: justify;
}

table {
	width: 100%;
}

/*---------------------------------------------------------

	colum

---------------------------------------------------------*/

@include mq(m) {

	.pc_colum2 {

		& > .child {
			width: 47.3684%;
			float: left;
			margin-top: 0;
			margin-right: 5.2631%;
		}

		& > .child:nth-of-type(2n) {
			margin-right: 0;
		}

	}

	.pc_colum3 {

		& > .child {
			width: 29.8245%;
			float: left;
			margin-top: 0;
			margin-right: 5.2631%;
		}

		& > .child:nth-of-type(3n) {
			margin-right: 0;
		}

	}

}



/*---------------------------------------------------------

	shorten section

---------------------------------------------------------*/

.shorten {
	position: relative;
}

@include mq(s) {

	.jsOns .shorten {

		height: 15em;
		overflow: hidden;

		&:before {
			content: "続きを読む ↓";
			display: block;
			text-align: right;
			position: absolute;
			bottom: 1em;
			left: 0;
			width: 100%;
			z-index: 101;
			font-weight: bold;
		}

		&:after {
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 100;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 90%);
		}
	}

	.shorten.open {
		height: auto;
		overflow: visible;
		&:after,
		&:before {
			display: none;
		}
	}

}



/*---------------------------------------------------------

	heading

---------------------------------------------------------*/

@mixin hd1 {

	min-height: 38px;
	/*位置調整*/
	margin-top: 3px;
	margin-bottom: margin(text, m);
	font-size: font(2l);
	font-weight: bold;

	&:before {
		content: "";
		display: inline-block;
		width: 38px;
		height: 38px;
		/*位置調整*/
		margin-top: -3px;
		margin-right: margin(text, 2s);
		background-color: color(brown1);
		background-image: url(../images/books.svg);
		background-size: 75% auto;
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 50%;
		vertical-align: middle;
	}

	@include mq(m) {
		min-height: 48px;
		&:before {
			width: 48px;
			height: 48px;
			margin-right: margin(text, s);
		}

	}

	&.blue1 {
		color: color(blue1);
		&:before {
			background-color: color(blue1);
		}
	}

	&.brown1 {
		color: color(brown1);
		&:before {
			background-color: color(brown1);
		}
	}

	&.twitter:before {
		background-image: url(../images/twitter.svg);
		background-size: 65% auto;
	}

	&.ranking:before {
		background-image: url(../images/ranking.svg);
		background-size: auto 70%;
	}

	&.filter:before {
		background-image: url(../images/filter.svg);
		background-size: 60% auto;
	}
	
}

@mixin hd1_orange {
	@include hd1;
	color: color(orange1);
	&:before {
		background-color: color(orange1);
	}
}

@mixin hd2 {
	color: color(blue1);
	line-height: 1.2;
	position: relative;
	margin-bottom: margin(text, m);
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 5px;
		bottom: -0.7em;
		left: 0;
		background: repeating-linear-gradient(-45deg, #fff 0px, #fff 3px, color(blue1) 3px, color(blue1) 6px);
	}
}

@mixin hd3 {
	color: #000;
	span {
		background: linear-gradient(transparent 80%, color(green2) 80%);
	}
}

@mixin hd4 {
	color: color(blue1);
	font-size: font(l);
	margin-bottom: margin(text,m);
	line-height: 1.3;
}

@mixin hd5 {
	color: #fff;
	font-size: font(l);
	margin-bottom: margin(text,l);
	background: color(brown1);
	border-radius: 2em;
	line-height: 1;
	padding: 1em;
	padding-left: 3.3em;
	position: relative;
	&:before {
		position: absolute;
		content: "";
		top: 5px;
		left: 5px;
		width:calc(-10px + 3em);
		height: calc(-10px + 3em);
		display: inline-block;
		border-radius: 50%;
		background: url(../images/dollar.svg) no-repeat center center #fff;
		background-size: auto 80%;
	}
	@include mq(s) {
		margin-left: -2vw;
		margin-right: -2vw;
	}
}

@mixin hd6 {
	color: #000;
	border-left: solid 5px #000;
	padding: 0.5em;
	padding-left: 0.7em;
	margin-bottom: margin(text,m);
}

.hd1 {
	@include hd1;
}

.hd2 {
	@include hd2;
}

.hd3 {
	@include hd3;
}

.hd4 {
	@include hd4;
}

.hd5 {
	@include hd5;
}

.hd6 {
	@include hd6;
}


/*---------------------------------------------------------

	button

---------------------------------------------------------*/

.btn {
	display: inline-block;
	text-align: center;
	border-radius: 5px;
	color: #fff;
	font-size: font(l);
	box-sizing: border-box;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #000;
	text-decoration: none;

	@include mq(s) {
		width: 100%;
	}

	@include mq(m) {
		padding-left: 3em;
		padding-right: 3em;
	}

}


.btn.green1 {
	background: color(green1);
}

.btn.orange1 {
	background: color(orange1);
}

/*---------------------------------------------------------

	school list

---------------------------------------------------------*/

section.schoolList {

	position: relative;

	&:nth-of-type(n+2) {

		padding-top: margin(text, l);
		margin-top: margin(text, l);
		border-top: solid 1px color(gray2);

		figure {
			top: margin(text, l);
		}

		@include mq(m) {
			padding-top: margin(text, 2l);
			margin-top: margin(text, 2l);
			figure {
				top: margin(text, 2l);
			}
		}

	}

	h2 {
		transform: translateY(-0.2em);
	}

	figure {
		width: 30vw;
		position: absolute;
		top: 0;
		left: 4vw;
	}

	dl.merit {

		& > * {
			display: inline-block;
		}

		& dt {
			background: color(gray3);
			border-radius: 2px;
			padding: 0 0.3em;
		}
	}


	h3 {
		line-height: 1.3;
		color: color(blue);
		margin-top: 0.5em;
	}

	.feature {

		margin-bottom: 1em;

		li {
			display: inline-block;
			line-height: 2.8em;
			letter-spacing: 0;
		}

		a {
			padding: 0.5em;
			background: color(blue2);
			border-radius: 5px;
			color: #fff;
			text-decoration: none;
		}
	}

	.btns li {
		a {
			display: block;
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}

	p.bm {
		width: 40px;
		height: 40px;
		background: url(../images/bookmark.svg) no-repeat center center color(gray3);
		background-size: 50% auto;
		border-radius: 50%;
	}

	@include mq(s) {

		@include pd;

		h2,
		h3,
		dl.merit {
			margin-left: calc(32.6086% + 4vw);
		}

		dl.merit {
			font-size: font(2s);
		}

		section,
		div.detail {
			margin-top: margin(text, m);
		}

		.btns li {

			width: 48%;
			float: left;

			a {
				display: block;
				padding-left: 0.5em;
				padding-right: 0.5em;
			}
		}
		.btns li:nth-child(2) {
			float: right;
		}

	}

	@include mq(m) {

		padding-left: 22.6315%;

		h3 {
			@include hd3;
		}

		figure {
			width: 20%;
			left: 0;
		}

		div.body {
			float: left;
			width: 52.721%;
		}

		div.detail {
			float: right;
			width: 38.7755%;
		}

		.btns li {
			display: inline-block;
			margin-bottom: 0.5em;
			width: auto;
			a {
				padding-left: 1em;
				padding-right: 1em;
			}
		}

	}

}

section.schoolList.rank {

	a {
		text-decoration: none;
		color: color(text);
	}

	figure {
		position: static;
		width: 31.92vw;
		float: left;
		padding-right: margin(text, m);
		box-sizing: border-box;
	}

	div.body {
		width: 60.08vw;
		float: right;
	}

	h3 {
		color: color(blue1);
		margin-left: 0;
		margin-top: -0.3em;
	}

	p {
		line-height: 1.3;
		margin-top: margin(text, m);
	}

	@include mq(m) {

		padding-left: 0;

		&:nth-of-type(n+2) {

			padding-top: margin(text, l);
			margin-top: margin(text, l);
			figure {
				top: margin(text, l);
			}

		}

		h3 {
			font-size: font(l);
		}

		figure {
			width: 30.2381%;
		}

		div.body {
			width: 69.7619%;
		}

	}

}

.jsOn {

	@include mq(s) {

		section.schoolList .detail {
			display: none;
		}

		section.schoolList.on .detail {
			display: block;
		}

	}

}

/*---------------------------------------------------------

	tweeter

---------------------------------------------------------*/

ul.tweets {

	li {

		line-height: 1.4;
		overflow: hidden;
	}

	li:nth-of-type(n+2) {
		margin-top: margin(text, l);
		padding-top: margin(text, l);
		border-top: solid 1px color(gray2);
	}

	figure {
		width: 24vw;
		padding-right: margin(text, m);
		float: left;
		box-sizing: border-box;
	}

	div.body {
		width: 68vw;
		float: right;
		box-sizing: border-box;
		p + p {
			margin-top: 1em;
		}
	}

	.author {
		margin-top: -0.3em;
		text-align: left;
	}


	@include mq(s) {
		li {
			@include pd;
		}
	}

	@include mq(m) {
		figure {
			width: 10%;
		}
		li > *:nth-child(n+2) {
			width: 90%;
		}
	}
}
