@charset "UTF-8";

@import "import";

.schoolDetail {

	h1 span[class^=icon] {
		position: absolute;
		top: 10px;
		right: 4vw;
		font-size: 28px;
	}

	div.intro {

		@include mq(s) {
			
			display: flex;
			flex-direction: column;

			& > * {
				order: 1;
			}

			.figure {
				order: 0;
				margin-bottom: margin(sp_y,l);
			}

		}
		
		@include mq(m) {
		
			section.explanation {
				width: 64.9122%;
				float: left;
			}
			
			div.figure {
				width: 31.5789%;
				float: right;				
			}
			
		}

	}

	figure.mainBnr {
		text-align: center;
	}

	table.feature {
		margin-top: 1em;
		border-top: solid 1px color(gray3);
		th,
		td {
			padding: 1em 0;
			border-bottom: solid 1px color(gray3);
		}
		th {
			white-space: nowrap;
			padding-right: 1em;
		}
		td {
			width: 100%;
			padding-left: 1em;
			border-left: solid 1px color(gray3);
		}
	}

	table.price {

		th,
		td {
			padding-top: 0.75em;
			padding-bottom: 0.75em;
			border-width: 1px;
		}

		th {
			border-color: #fff;
			padding-left: 1em;
		}

		td {
			border-color: color(gray3);
		}

		th:nth-child(n+2),
		td:nth-child(n+2) {
			border-left-style: solid;
			padding-left: 1em;
		}

		th {
			background: color(gray3);
		}

		td {
			border-bottom-style: solid;
		}
	}

	dl.timetable {

		overflow: hidden;
		dt {
			float: left;
			clear: left;
			width: 3em;
		}
		dd {
			margin-left: 3em;
		}

	}

	@include mq(m) {

		h1 span[class^=icon] {
			top: 15px;
			right: 15px;
		}

		section.intro .text {
			float: left;
			width: 55%;
			margin-bottom: margin(pc_y, 2l);
			figure.mainBnr {
				text-align: left;
			}

		}

		table.feature {
			margin-top: 1em;
		}

		.figure .btnWrap {
			margin-top: margin(text,m);
		}
		
		.btnWrap {
			text-align: center;
			margin: margin(text, 3l) auto 0;
		}
		
	}

}

#price > section:nth-of-type(1) {
	margin-top: 0;
}

@include mq(m) {

	#price > section {
		width: 47.3684%;
		float: left;
	}
	
	#price > section:nth-of-type(2) {
		margin-top: 0;
	}

	#price > section:nth-of-type(even) {
		float: right;
	}
	
	#price > section:nth-of-type(odd) {
		clear: both;
	}
	
}
