@charset "UTF-8";

@import "import";

main h3 {
	@include hd2;
	color: color(blue);
	/*
	font-size: font(l);
	text-decoration: underline;
*/
}

main h4 {
	color: #000;
}

#recommentd {

	.btnWrap {
		text-align: center;
		margin-top: margin(text, 2l);
	}

}

section.wfig {


	@include mq(s) {
		@include full;
		& > :not(figure) {
			@include sp_pd;
		}
	}

	overflow: hidden;
	display: flex;
	flex-direction: column;

	& > figure {
		order: 0;
		margin-bottom: 2em;
	}

	& > :not(figure) {
		order: 1;
	}



	/*
	figure {
		float: right;
		width: 50%;
		margin-top: 0.5em;
		margin-left: 1em;
		@include mq(m) {
			width: 50%;
		}
	}
	*/
}

/*
section.wfig:nth-of-type(even) {

	figure {
		float: left;
		margin-left: 0;
		margin-right: 1em;
	}

}

*/
